---
import Layout from '../layouts/Layout.astro';

import PageHeading from '@components/PageHeading.astro';
import Timeline from '@components/Timeline.astro';

const accentText = "Hello"
const restOfHeading = "Again"
const content = [
  "I've lived many lives and worn many different hats. My comfort stack is JavaScript on the front- and back-end, but I'm also comfortable with Java, Python, and Ruby on Rails. I would love a chance to learn Elixir...",
  "I also enjoy data engineering, and have experience using Airflow and Databricks to build and run ETL workflows."
]
---

<Layout title="About Me">
  <div class="flex flex-col items-center space-y-8">
    <PageHeading accentText={accentText} restOfHeading={restOfHeading} content={content} />
    <Timeline />
  </div>
</Layout>
