---
import Layout from "../layouts/Layout.astro";
import { Icon } from 'astro-icon'

---

<Layout title="Welcome to Astro.">
  <main class="min-h-screen bg-base-200 flex justify-center items-center flex-col">
    <div class="col-span-12 mt-16">
      <div
        class="text-center flex flex-col items-center mb-14"
      >
        <h3 class="text-3xl font-semibold mb-4">
          <span class="text-accent">Get In</span> Touch
        </h3>
        <p class=" font-bold tracking-wider text-sm text-base-content w-3/5">
        I'm excited to work with you! If you think I would be the right fit for that project you're working on, then feel free to reach out.<p>
      </div>
    </div>
    <div class="h-3/5 w-3/5 bg-neutral p-16">
    <form
    class="form-control w-full"
    netlify
    netlify-honeypot
    name="feedback"
    method="POST"
    action="/success"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="feedback" />
    <label class="label" for="name">
      <span class="label-text text-neutral-content">Your name:</span>
    </label>
    <input id="name" type="text" name="name" placeholder="John Doe" 
    class="input input-bordered w-full mb-4" />
    <label class="label" for="email">
      <span class="label-text text-neutral-content">Your email:</span>
    </label>
    <input id="email" type="email" name="email" placeholder="john@example.com" 
    class="input input-bordered w-full mb-4" />
    <label class="label" for="message">
      <span class="label-text text-neutral-content">What is your message?</span>
    </label>    
    <textarea class="textarea textarea-bordered h-32 mb-4" name="message" id="message" required></textarea>

    <button class="btn btn-primary" type="submit">
      Send
      <Icon name="mdi:paper-airplane" size="16" class="ml-2" />
      </button>
  </form>
</div>
  </main>
</Layout>
