---
import Layout from '../layouts/Layout.astro';

import ContactForm from '@components/ContactForm.astro';
import PageHeading from '@components/PageHeading.astro';

const accentText = "Get In"
const restOfHeading = "Touch"
const content = [
  "I'm excited to work with you! If you think I would be the right fit for that project you're working on, then feel free to reach out."
]
---

<Layout title="Contact">
  <div class="flex flex-col justify-center items-center space-y-8">
    <PageHeading accentText={accentText} restOfHeading={restOfHeading} content={content} />
    <ContactForm />
  </div>
</Layout>