---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <main
    class="min-h-screen bg-base-200 flex items-center justify-center flex-col"
  >
    <div class="w-3/5 bg-neutral rounded-lg shadow p-16">
      <div class="w-full text-neutral-content">
        <h3 class="text-3xl font-semibold mb-4">Thank you for your message.</h3>
        <a href="/" class="link link-neutral-content"> Back to homepage</a>
      </div>
    </div>
  </main>
</Layout>
