---
import { Icon } from "astro-icon";

import Navlinks from "./Navlinks.astro";
import Sidebar from "./Sidebar.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<nav class="navbar bg-base-100">
  <div class="navbar-start">
    <a href="/" class="text-xl normal-case btn btn-ghost logo">&#x52; &#x304;</a
    >
  </div>
  <div class="navbar-center">
    <ThemeSwitcher />
  </div>
  <div class="navbar-end">
    <ul class="hidden px-1 md:flex menu menu-horizontal" role="navigation">
      <Navlinks />
    </ul>
    <button
      aria-expanded="false"
      aria-label="Open mobile navigation"
      class="md:hidden"
      data-label="toggle-sidebar"
    >
      <Icon name="feather:menu" width={25} />
    </button>
    <Sidebar />
  </div>
</nav>

<script>
  const sidebar = document.querySelector("[data-name='sidebar']");
  const buttons = document.querySelectorAll("[data-label]");
  const toggleSidebar = () => sidebar?.classList.toggle("-translate-y-full");

  buttons.forEach((button) => button.addEventListener("click", toggleSidebar));
</script>
